<!DOCTYPE html>
<html lang="{{ site.locale }}">

{% include head.html %}

<body>
<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="{{site.version.win64}}" target="_blank" class="btn">Windows 64位</a>
    <a href="{{site.version.win32}}" target="_blank" class="btn">Windows 32位</a>
    <a href="{{site.version.mac}}" target="_blank" class="btn">MacOS版本</a>
</section>

<section class="main-content">

    {{ content }}

    {% include page-footer.html %}

</section>
<div style="display: none">
    <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278997677&web_id=1278997677"></script>
</div>

</body>
</html>
